.library-page {
    width: 100%;
    max-width: var(--container-width);

    margin: 0 auto;
    padding-bottom: var(--space-2xl);

    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
}

.library-actions {
    margin-top: var(--space-md);
}