.file-upload input {
    display: none;
}

.file-upload {
    display: block;

    border: 2px dashed var(--border);
    border-radius: var(--radius-lg);

    cursor: pointer;
    transition: .2s;
}

.file-upload:hover {
    border-color: var(--primary);
}

.file-upload-content {
    padding: 3rem;
    text-align: center;
}

.file-upload-content h3 {
    margin-bottom: .5rem;
}

.file-upload-content p {
    color: var(--text-secondary);
}

.file-upload-content span {
    display: inline-block;

    margin-top: 1rem;

    padding: .35rem .8rem;

    border-radius: 999px;

    background: rgba(0, 0, 0, .05);

    font-size: .85rem;
}