.dashboard-layout {
    display: flex;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

.dashboard-main {
    min-width: 0;
    flex: 1;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.dashboard-content {
    flex: 1;
    min-height: 0;

    overflow-y: auto;
    overflow-x: hidden;

    padding: var(--space-xl);
}